{% extends 'base.html.twig' %}

{% block title %}New Eleve{% endblock %}
{% block body %}
    
    <div class="container">
      <h1 class="">INSCRIPTION NOUVELLE ELEVE</h1>  
        <div class="card">
            <div class="card-body align-middle">
                {{ include('eleve/_form.html.twig') }}
            </div>
        </div>
    </div>

    

    <a href="{{ path('app_eleve_index') }}">back to list</a>
{% endblock %}
