{% extends 'base.html.twig' %}

{% block title %}New ParentEleve{% endblock %}

{% block body %}
<div class="container">
    {{ include('parent_eleve/_form.html.twig') }}

    <a href="{{ path('app_parent_eleve_index') }}">back to list</a>
</div>

{% endblock %}
